* {
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: tahoma;
	font-size: 15px;
	color: white;
	font-weight: normal;
}

#page_1 {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: black  url(../img/start_bg.jpg) center center no-repeat;
	background-size: 100%;
	/*display: none;*/
}

#description h1  {
	font-family: Arial;
	color: #3c3e40;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 15px;
}

#description  {
	position: absolute;
	width:660px;
	height: 160px;
	top: 0px;
	padding: 20px;
	background-color: rgba(255,255,255,0.75);
	font-family: Arial;
	color: #3c3e40;
	font-size: 14px;
	line-height:18px;
}

#choose {
	width: 700px;
	height:650px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -325px 0px 0px -350px;
}

#data_cam {
	position: absolute;
	left: 0;
	top: 250px;
	width:300px;
	height: 100px;
	background-color: rgba(255,255,255,0.75);
}

#data_video {
	position: absolute;
	left: 0;
	top: 370px;
	width:300px;
	height: 100px;
	background-color: rgba(255,255,255,0.75);
}

#nodata_cam{
	position: absolute;
	right: 0;
	top: 250px;
	width: 300px;
	height: 100px;
	background-color: rgba(255,255,255,0.75);
}

#nodata_video{
	position: absolute;
	right: 0;
	top: 370px;
	width: 300px;
	height: 100px;
	background-color: rgba(255,255,255,0.75);
}

#data_cam a, #data_video a, #nodata_cam a, #nodata_video a {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding-top: 40px;
	text-align: center;
	color: #3c3e40;
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	font-size: 18px;
}

#page_3 {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
}

#interface_wrapper {
	width:100%;
	height:300px;
	background-color: black;
	color: white;
	font-family: tahoma;
	font-size: 12px;
	display: none;
}

.button {
	width: 200px;
	height: 75px;
	display: block;
    margin-left: auto;
    margin-right: auto
	}
	
#interface {
	position: relative;
	width: 1000px;
	height: 300px;
	margin: auto;
}
	
.checkboxen {
	position: absolute;
	top:30px;
	right: 50px;
	width: 300px;
	height:200px;
}

.start_button {
	position: absolute;
	width: 200px;
	height:46px;
	top: 30px;
	left: 50px;
}

.start_button img {
	border: 0px;
}

.slider {
	position: absolute;
	width:250px;
	height: auto;
	top:115px;
	left: 50px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}